# 記述統計

In [1]:
# ライブラリのインストール
from matplotlib.pyplot import plot as plot
import seaborn as sns

In [2]:
# 使用するデータのロード
df = sns.load_dataset("tips")
df["tip_rate"] = df["tip"] / df["total_bill"]  ## 支払に対するチップの割合
df

     total_bill   tip     sex smoker   day    time  size  tip_rate
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

## 分布
* どの値にどのくらいデータが存在するか
  * 連続変数の場合は、ヒストグラムを使う
  * カテゴリ変数の場合は、棒グラフを使う

### ヒストグラム
sns.displot()

In [1]:
sns.displot(df["tip"])

NameError: name 'sns' is not defined

### 棒グラフ
sns.catplot(x, data, kind="count")

In [2]:
sns.catplot(x="time", data=df, kind="count")

NameError: name 'sns' is not defined

## 代表値
* 平均(mean)
* 中央値(median)
* 最頻値(mode)
* 範囲(range)
* 四分位数(quartile)
* 平均偏差(MD)
* 分散(variance)
* 標準偏差(standard deviation)

In [12]:
# 平均値
df["total_bill"].mean()

19.78594262295082

## 2変数間の記述統計

### 共分散(covariance)

### 正の相関と負の相関

### 相関係数(correlation coefficient)

### 連関(association)

### カイ二乗

### クラメールの連関係数